<ion-content>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>

  <div class="contenedor-form" *ngIf="banderaSituacion==0">
    <h1 class="titulo-bienvenido" style="padding-top:10%;">Alumnos</h1>

    <ion-item style="padding-top:10%;" (click)="banderaSituacion=1">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/875/875515.svg">
      </ion-avatar>
      <ion-label position="stacked">Agregar Nuevo Alumno</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Niveles</ion-label>
    </ion-item>

    <div style="margin-left:10%; width:80%;">
      <ion-badge color="tertiary" (click)="nivel=1;">1</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=2;">2</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=3;">3</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=4;">4</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=5;">5</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=6;">6</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=7;">7</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=8;">8</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=9;">9</ion-badge>
    </div>

    <ion-list-header>
      Lista de Alumnos
    </ion-list-header>

    <div *ngFor="let a of alumnos">
      <ion-item *ngIf="a.nivel==nivel" (click)="opciones()">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/779/779856.svg">
        </ion-avatar>
          <ion-label position="stacked">{{a.nombre}}</ion-label>
      </ion-item>
    </div>
  </div>

  <div class="contenedor-form" *ngIf="banderaSituacion==1">

    <ion-buttons style="padding-top:8%;">
      <ion-button (click)="banderaSituacion=0">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <form>
      <h1 class="titulo-bienvenido" style="margin-bottom:1%;">Agregar Alumno</h1>

        <ion-list-header>
          Datos del Alumno
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/779/779856.svg">
          </ion-avatar>
          <ion-label position="stacked">Nombre del Alumno<ion-text color="danger">*</ion-text></ion-label>
          <ion-input name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/3142/3142853.svg">
          </ion-avatar>
          <ion-label position="stacked">Rut<ion-text color="danger">*</ion-text></ion-label>
          <ion-input name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/610/610527.svg">
          </ion-avatar>
          <ion-label position="stacked">Nivel<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="nombre" required></ion-input>
      </ion-item>

      <ion-list-header>
        Datos de la cuenta
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/3154/3154231.svg">
        </ion-avatar>
        <ion-label position="stacked">Usuario<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/3076/3076255.svg">
        </ion-avatar>
        <ion-label position="stacked">Contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="nombre" type="password" required></ion-input>
      </ion-item>

      <ion-list-header>
        Datos del Apoderado
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/3142/3142853.svg">
        </ion-avatar>
        <ion-label position="stacked">Rut<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1251/1251457.svg">
        </ion-avatar>
        <ion-label position="stacked">Nombre del Apoderado<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/3003/3003732.svg">
        </ion-avatar>
        <ion-label position="stacked">Dirección<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/2920/2920369.svg">
        </ion-avatar>
        <ion-label position="stacked">Celular<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="nombre" required></ion-input>
      </ion-item>

  <!--[(ngModel)]="cliente.nombre" -->

      <div style="background:white;">
        <ion-button class="ion-button">Agregar Alumno</ion-button>
      </div>
     </form>
  </div>
</ion-content>
