ion-content{
  --background: #f6f4fc;
}

ion-toolbar{
  --opacity: 0.9;
  --background: #f6f4fc;
}

.header-md::after{
  width: 0% !important;
}

.logo {
    width: 100%;
    margin: 0 auto;
  }

  q {
    font-style: italic;
    quotes: "« " " »";
  }

  .card {
    margin-top: 2%;
    height: 230px;
    width: 200px;
    background: #f8e5e9;
    border-radius: 10px;
  }

  .containerCard{
      height: 250px;
      width: 215px;
      margin-left: 10px !important;
      padding-right: 10px !important;
      padding-left: 10px !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      display: inline-flex;


  }

  .cursos{
    width: 90%;
    margin: 0 auto;
    text-align: center
    }

  .imagen{
    width: 40%;
    margin-left: 0%;
  }
