<ion-content>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cerrarModal()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label style="margin-left:5%; margin-bottom: 10%;">Ecuación general de la recta</ion-label>
    </ion-toolbar>

  <div class="mensaje-bienvenida">
    <img class="imagen-libreta" src="./assets/icon/escritorio.svg">
  </div>

  <ion-item>
    <p>Apoderados adjunto la guía de contenido de la ecuación de la recta, recuerden que los mensajes por esta plataforma automaticamente llegarán a mi correo</p>
  </ion-item>
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://image.flaticon.com/icons/svg/888/888071.svg">
    </ion-avatar>
    <ion-button>Descargar</ion-button>
  </ion-item>

  <ion-button class="ion-button">Enviar Duda</ion-button>
</ion-content>
