<ion-content>
  <h1 class="titulo-bienvenido">Inicio</h1>
  <h1 class="titulo-fecha">Hoy, 10 julio 2020</h1>

  <div class="mensaje-bienvenida">
    <img class="imagen-libreta" src="./assets/icon/libreta.svg">
    <div class="contenedor-texto">
      <h1 class="titulo-bienvenida">Bienvenido nuevamente</h1>
      <h1 class="texto-bienvenida">Tienes 5 tareas nuevas</h1>
    </div>
  </div>

  <ion-list-header>
    <h1 class="list-header">Calendario</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/3003/3003223.svg">
      </ion-avatar>
      <ion-label>
        <h3>Calendario</h3>
        <p>6 nuevas fechas importantes </p>
      </ion-label>
    </ion-item>
  </div>

  <ion-list-header>
    <h1 class="list-header">Cursos</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/2949/2949787.svg">
      </ion-avatar>
      <ion-label>
        <h3>Cursos</h3>
        <p>Tienes 5 tareas nuevas</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-list-header>
    <h1 class="list-header">Reuniones</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/2228/2228655.svg">
      </ion-avatar>
      <ion-label>
        <h3>Reuniones</h3>
        <p>Proxima reunión en 3 días</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-list-header>
    <h1 class="list-header">Citaciones</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/839/839802.svg">
      </ion-avatar>
      <ion-label>
        <h3>Citaciones</h3>
        <p>Tienes 2 citaciones de apoderados</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
