<ion-content>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>

  <h1 class="titulo-bienvenido">Inicio</h1>
  <h1 class="titulo-fecha">15 julio, 10 julio 2020</h1>

  <div class="mensaje-bienvenida">
    <img class="imagen-libreta" src="./assets/icon/libreta.svg">
  </div>

  <ion-list-header>
    <h1 class="list-header">Niveles</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/610/610527.svg">
      </ion-avatar>
      <ion-label>
        <h3>Cantidad de Niveles</h3>
        <p>{{niveles.length}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-list-header>
    <h1 class="list-header">Cursos</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/779/779866.svg">
      </ion-avatar>
      <ion-label>
        <h3>Cantidad de Cursos</h3>
        <p>{{cursos.length}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-list-header>
    <h1 class="list-header">Profesores</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/906/906175.svg">
      </ion-avatar>
      <ion-label>
        <h3>Cantidad de Profesores</h3>
        <p>{{profesores.length}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-list-header>
    <h1 class="list-header">Alumnos</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/779/779856.svg">
      </ion-avatar>
      <ion-label>
        <h3>Cantidad de Alumnos</h3>
        <p>{{alumnos.length}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-list-header>
    <h1 class="list-header">Asignaturas</h1>
  </ion-list-header>

  <div class="card-calendario">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/2949/2949787.svg">
      </ion-avatar>
      <ion-label>
        <h3>Cantidad de Asignaturas</h3>
        <p>{{asignaturas.length}}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
