<ion-content>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>

  <div class="contenedor-form" *ngIf="banderaSituacion==0">

    <h1 class="titulo-bienvenido" style="padding-top:10%;">Cursos</h1>

    <ion-item style="padding-top:10%;" (click)="banderaSituacion=1">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/875/875515.svg">
      </ion-avatar>
      <ion-label position="stacked">Agregar Nuevo Curso</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Niveles</ion-label>
    </ion-item>

    <div style="margin-left:10%; width:80%;">
      <ion-badge color="tertiary" (click)="nivel=1;">1</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=2;">2</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=3;">3</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=4;">4</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=5;">5</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=6;">6</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=7;">7</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=8;">8</ion-badge>
      <ion-badge color="tertiary" (click)="nivel=9;">9</ion-badge>
    </div>

    <ion-list-header>
      Lista de Cursos
    </ion-list-header>

    <div *ngFor="let c of cursos">
      <ion-item *ngIf="c.nivel==nivel" (click)="opciones(c)">
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/779/779866.svg">
          </ion-avatar>
          <ion-label position="stacked">{{c.nombre}}</ion-label>
      </ion-item>
    </div>

</div>

<div class="contenedor-form" *ngIf="banderaSituacion==1">
  <form>
    <ion-buttons style="padding-top:8%;">
      <ion-button (click)="banderaSituacion=0">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <h1 class="titulo-bienvenido" style="padding-top:0%;">Agregar Curso</h1>

    <ion-item style="margin-top: 20%;">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/3142/3142853.svg">
      </ion-avatar>
      <ion-label position="stacked">Codigo Curso<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name="nombre" required></ion-input>
    </ion-item>
<!--[(ngModel)]="cliente.nombre" -->
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/610/610527.svg">
      </ion-avatar>
      <ion-label position="stacked">Nivel<ion-text color="danger">*</ion-text></ion-label>
      <ion-select cancelText="Cancelar" okText="Aceptar">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/779/779866.svg">
      </ion-avatar>
      <ion-label position="stacked">Nombre Curso<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name="rut" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/3100/3100669.svg">
      </ion-avatar>
      <ion-label position="stacked">Asignaturas<ion-text color="danger">*</ion-text></ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar">
        <ion-select-option value="1">Matemática</ion-select-option>
        <ion-select-option value="2">Lenguaje</ion-select-option>
        <ion-select-option value="3">Naturaleza</ion-select-option>
        <ion-select-option value="4">Biología</ion-select-option>
        <ion-select-option value="5">Física</ion-select-option>
        <ion-select-option value="6">Química</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/779/779856.svg">
      </ion-avatar>
      <ion-label position="stacked">Alumnos<ion-text color="danger">*</ion-text></ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar">
        <ion-select-option value="1">Juan Perez</ion-select-option>
        <ion-select-option value="2">Juan Solo</ion-select-option>
        <ion-select-option value="3">Juan Valdés</ion-select-option>
        <ion-select-option value="4">Juan Alberto</ion-select-option>
        <ion-select-option value="5">Juan Valdebenito</ion-select-option>
        <ion-select-option value="6">Juan José</ion-select-option>
      </ion-select>
    </ion-item>
   </form>

   <div style="background:white;">
     <ion-button class="ion-button">Agregar</ion-button>
   </div>
</div>

</ion-content>
